<form method="post" action="/songs">
<label>Song Name</label>
<br>
<input type="text" name="song[name]" >
<br>
<label>Genre</label>
<%@genres.each do |genre|%>
    <input type="checkbox" name="song[genre_ids][]" value="<%=genre.id%>"><%=genre.name%>
    <br>
<%end%>
<br>
<label>Artist</label>
<input type="text" name="song[artist]">
<br>
<input type="submit" value="Create Song">
</form>