<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <nav>
      <a href='/index'>Home</a>
      <a href='/songs'>Songs</a>
      <a href='/artist/index'>Artist</a>
      <a href='/songs/new'>New Song</a>

    </nav>
    <%= yield %>
  </body>
</html>